.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* box-shadow: 10px 10px 10px 10px; */
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  /* box-shadow: 10px 10px 10px 10px; */
}
