* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16384c;
  height: 100vh;
  /* ^?Questionable?^ */
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
