.card {
  position: relative;
  max-width: 300px;
  height: 420px;
  background: #fff;
  margin: 30px 10px;
}

.imgBx {
  position: relative;
  width: 260px;
  height: 260px;
}

.card .imgBx img {
  max-width: 100%;
  height: 100%; /* ?Questionable? */
  border-radius: 4px;
}

.content {
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

h2 {
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

p {
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}
